<div class="item-view">
<div class="item-header">
    <img src="{{ item.imgSrc}}">
    <div class="item-title">{{'Item selected:' | translate}} <br><br> {{ item.title }} </div>
  </div>
    <div class="item-price">{{'Item price:' | translate}} {{ item.price }}</div>
    <br>


<!-- <button (click)="onAddToCart()"> {{ 'Add to cart' }} </button> -->
<div (click)="onAddToCart()" class="main-button "><span class="noselect"> {{ 'Add to cart' | translate}} </span>
</div>
</div>


<lib-toastify-toast-container 
[position]="'top-left'"
[iconLibrary]="'font-awesome'"

></lib-toastify-toast-container>