/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(138, 134, 134);
}

*:focus {
    outline: none;
}