<mat-form-field appearance="fill">
  <mat-label>{{'Select item category' | translate }}</mat-label>
  <mat-select [(ngModel)]="selectedCategory">
    <mat-option value="">{{'All items' | translate }}</mat-option>
    <mat-option *ngFor="let item of items | unique" [value]="item.category">
      {{item.category}}
    </mat-option>
  </mat-select>
</mat-form-field>

<br>
<button class="main-button" (click)="onSendToDb()">{{'Send all items to Database' | translate }}</button>
<br>

<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<div class="admin-items-list">
  <div *ngFor="let item of items | categoryFilter:selectedCategory; let i = index" 
  class="item" [class.inactive]="!item.visible" (click)="onInactive(i)">
    <!-- [ngClass]="{'inactive': !item.visible}" -->
     <p> {{ item.title }} </p>   
     <p> {{ item.price }} </p>  
     <button class="main-button shortened" [routerLink]='["/edit",i]'>{{'Edit' | translate  }}</button>
  </div>
</div>
