
<mat-form-field appearance="fill">
  <mat-label>Select item category</mat-label>
  <mat-select [(ngModel)]="selectedCategory">
    <mat-option value="">All items</mat-option>
    <mat-option *ngFor="let item of items | unique" [value]="item.category">
      {{item.category}}
    </mat-option>
  </mat-select>
</mat-form-field>

<br>
<button (click)="onSendToDb()">Send all items to Database</button>

<div class="admin-items-list">
  <div *ngFor="let item of items | categoryFilter:selectedCategory; let i = index" 
  class="item" [class.inactive]="!item.visible" (click)="onInactive(i)">
    <!-- [ngClass]="{'inactive': !item.visible}" -->
     <p> {{ item.title }} </p>   
     <p> {{ item.price }} </p>  
     <button [routerLink]='["/edit",i]'>{{'Edit' }}</button>
  </div>
</div>