
  <div *ngIf="itemsInCart.length > 0; else noItemsInCart">

    <div class="spacer"> 
  <button (click)="onEmptyCart()">Empty cart</button>

  <div>Cart sum total: {{ sumOfCart }} $</div>

  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of itemsInCart; let i = index">
      <img class="item-image" src="{{ item.imgSrc}}"><br>
      <h3 class="cell">{{'Item selected:'}}  {{ item.title }}  </h3><br>
      <div class="cell">{{'Item price is:'}} {{ item.price }}</div>
      <br>
      <img class="delete-button" src="../../assets/trash-2.png" (click)="onRemoveFromCart(i)">
      <br><br>
      </div>
    </div>
  </div>
</div>

<ng-template #noItemsInCart>
  <div class="no-items"> 
    {{ 'No items in cart, please add!' }} 
  </div>
</ng-template>


<lib-toastify-toast-container></lib-toastify-toast-container>