.items-list {

  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 200px;
}

.item {
  width: 24%;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.item:hover {
  transition: .5s all;
  box-shadow: 0 8px 17px 0 rgba(212, 29, 70, 0.05), 
  0 6px 10px 0 rgba(0,0,0,.15);
  background-color: lightgrey;
}

.item:hover img {
  transition: transform 1.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(1.1);

}

.item img {
  padding: 15px;
  height: 150px;
  width: 150px;
}

.item p {
  padding: 15px;
}

