<div class="items-page">
<div class="items-sort">
  <mat-form-field appearance="fill">
    <mat-label>{{'Select item category' | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option value="">{{'All items' | translate }}</mat-option>
      <mat-option *ngFor="let item of items | unique" [value]="item.category">
        {{item.category}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>{{'Order by' | translate }}</mat-label>
    <mat-select>
      <mat-option value="" (click)="onShowAll()">{{'All items' | translate }}</mat-option>
      <mat-option value="" (click)="onSortPriceAsc()">{{'Price- Highest first' | translate }}</mat-option>
      <mat-option value="" (click)="onSortPriceDesc()">{{'Price - Lowest first' | translate }}</mat-option>
      <mat-option value="" (click)="onSortTitleAsc()">{{'Title - A to Z' | translate }}</mat-option>
      <mat-option value="" (click)="onSortDesc()">{{'Title - Z to A' | translate }}</mat-option>
     
    </mat-select>
  </mat-form-field>
</div>

<div class="items-list">
  <div 
  *ngFor="let item of itemsShown | categoryFilter:selectedCategory; 
    let i = index" 
  
    [routerLink]="['view',item.firebaseId]" class="item" >
  <div *ngIf="item.visible">

      <img src="{{ item.imgSrc }}">
      <p> {{ item.title }} </p>   
      <p> {{ item.price }} </p> 
    </div> 
  </div>
</div>
</div>