#main-picture {
    height: 500px;
    width: auto;
    background-image: url("src\assets\main-picture.png");
    background-size: 100%;
    margin: 0 20%;
    border-radius: 10%;
    background-position: 0 10%;
    background-repeat: no-repeat;


}