<app-menu>app-hobbies</app-menu>

    <head>
        <title>My Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    </head>
    <body>
        <h1><img id="head-image" src="assets\main-picture.jpeg" height="250" width="100%"></h1>
    <hr>
        <!-- My Skills section start -->
        <div class="section">
            <h2>My hobbies</h2>
            <ol>
                <li>Listen To Music.</li>
                <li>Watch Movies.</li>
                <li>Play Video Games.</li>
                <li>Learning HTML.</li>
            </ol>
        </div>
        <!-- My Skills section end -->
    </body>
