/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&family=Roboto:wght@300&display=swap');

* {

  font-family: 'Courgette', cursive;

}

body {
  background-color: GRAY;
}

*:focus {
  outline: none;
  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.item-form {
  display: block;
  margin-top: 100px;
  margin-bottom: 425px;
}

