<!-- 
<form #newItemForm="ngForm" (ngSubmit)="onSubmit(newItemForm)" class="item-form">
  <label>{{'Title' | translate }}</label><br>
  <input ngModel name="title" type="text" required><br>
  <label>{{'Price' | translate }}</label><br>
  <input ngModel name="price" type="number" required><br>
  <label>{{'Image link' | translate }}</label><br>
  <input ngModel name="imgSrc" type="url" required><br>
  <label>{{'Category' | translate }}</label><br>
  <input ngModel name="category" type="text" required><br>
  
  <br>
<button [disabled]="newItemForm.invalid">{{'Add item' | translate }}</button>
</form> -->

<!-- <lib-toastify-toast-container 
[position]="'top-left'"
[iconLibrary]="'font-awesome'"

></lib-toastify-toast-container> -->

<form #newItemForm="ngForm" (ngSubmit)="onSubmit(newItemForm)" class="item-form">
  <h2>{{'New item' | translate }}</h2>
    <div class="user-box">
      <input ngModel name="title" type="text" required>
      <label>{{'Title' | translate }}</label>
    </div>
    <div class="user-box">
      <input ngModel name="price" type="number" required>
      <label>{{'Price' | translate }}</label>
    </div>
    <div class="user-box">
      <input ngModel name="imgSrc" type="url" required>
      <label>{{'Image link' | translate }}</label>
    </div>
    <div class="user-box">
      <input ngModel name="category" type="text" required>
      <label>{{'Category' | translate }}</label>
    </div>
    
    <button class="main-button" [disabled]="newItemForm.invalid">{{'Add item' | translate }}</button>
  </form>

<lib-toastify-toast-container 
[position]="'top-left'"
[iconLibrary]="'font-awesome'"

></lib-toastify-toast-container>