<div id="categories">
    <div class="category" routerLink="/work">
        <img src="assets\work.png" class="category-image">
        <p class="category-description">Click to see my previous work</p>
    </div>
    <div class="category" routerLink="/hobbies">
        <img src="assets\hobby.png" class="category-image">
        <p class="category-description">Click to see my previous hobbies</p>
    </div><div class="category" routerLink="/courses">
        <img src="assets\learn.png" class="category-image">
        <p class="category-description">Click to see my additional courses</p>
    </div>


</div>