<app-menu>app-hobbies</app-menu>

    <head>
        <title>My Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    </head>
    <body>
        <h1><img id="head-image" src="assets\main-picture.jpeg" height="250" width="100%"></h1>
    <hr>
        <h2><u>My previous courses</u></h2>
<br>
            <table style="width:100%">
              <tr>
                <th id="course-align"><u>Course name</u></th>
                <th id="course-align"><u>Date</u></th>
                <th id="course-align"><u>Price</u></th>
                <th id="course-align"><u>ak hours</u></th>
              </tr>
              <br>
              <tr>
                <tr>
                <td id="courses-align">IT Spetsialist - tarkvaraarendaja koolitus</td>
                <td id="courses-align">10.04.2017 - 25.05.2017</td>
                <td id="courses-align">2000.- €</td>
                <td id="courses-align">224ak tundi</td>
              </tr>
              <tr>
                <tr>
                 <td id="courses-align">Tulevase Front - end spetsialisti intensiivkursus Javascriptis</td>
                <td id="courses-align">02.07.2020 - 03.09.2020</td>
                <td id="courses-align">2500.- €</td>
                 <td id="courses-align">72ak tundi</td>
              </tr>
            </table>
            </body>