<p>Uue sisendi lisamine!</p>
<form [formGroup]="editItemForm" (ngSubmit)="onSubmit(editItemForm)" class="item-form">
  <label>{{'Title'}}</label><br>
  <input formControlName="title" type="text" required><br>
  <label>{{'Price'}}</label><br>
  <input formControlName="price" type="text" required><br>
  <label>{{'Image link'}}</label><br>
  <input formControlName="imgSrc" type="url" required><br>
  <label>{{'Category'}}</label><br>
  <input formControlName="category" type="text" required><br>
  
  <br>
<button [disabled]="!editItemForm.valid">Edit item</button>
</form>

<lib-toastify-toast-container 
[position]="'top-left'"
[iconLibrary]="'font-awesome'"

></lib-toastify-toast-container>