* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
  margin: 0 20%;
  border-radius: 25px;
  padding: 20px;
  background-position: 0 45%;
  max-width: 1000px;

}

#head-image {
  margin-top: -40px;
  margin-bottom: -40px;
  border-radius: 35px;
  padding: 20px;

}